<!DOCTYPE html>
<html lang="pt" class="no-js">
	<head>
		<meta charset="utf-8">
		<title>TITLE</title>

		{% include "partials/head.html" %}
	</head>
	<body>
		<!--========== HEADER ============-->
		{% include "partials/layout/header.html" %}
		<!--========== END HEADER ============-->

		<!--========== HOME SECTION ============-->
		{% include "partials/sections/home.html" %}
		<!--========== END HOME SECTION ============-->

		<!--========== ABOUT-US SECTION ============-->
		{% include "partials/sections/about-us.html" %}
		<!--========== END ABOUT-US SECTION ============-->

		<!--========== COURSES SECTION ============-->
		{% include "partials/sections/courses.html" %}
		<!--========== END COURSES SECTION ============-->

		<!--========== FOOTER ============-->
		{% include "partials/layout/footer.html" %}
		<!--========== END FOOTER ============-->

		<!--========== MODALS ============-->
		
		<!--========== LOGIN MODAL ============-->
		{% include "partials/modals/login.html" %}
		<!--========== END LOGIN MODAL  =======-->

		<!--========== REGISTER MODAL ============-->
		{% include "partials/modals/register.html" %}
		<!--========== END REGISTER MODAL  ====-->

		<!--========== MODALS FOOTER ============-->

		{% include "partials/foot.html" %}
	</body>
</html>