<!DOCTYPE html>
<html lang="pt" class="no-js">
	<head>
		<meta charset="utf-8">
		<title>TITLE</title>

		{% include "partials/head.html" %}
	</head>
	<body>
		<!--========== HEADER ============-->
		{% include "partials/layout/header.html" %}
		<!--========== END HEADER ============-->

		<!--========== HOME SECTION ============-->
		{% include "partials/sections/home.html" %}
		<!--========== END HOME SECTION ============-->

		<!--========== ABOUT-US SECTION ============-->
		{% include "partials/sections/about-us.html" %}
		<!--========== END ABOUT-US SECTION ============-->

		<!--========== FOOTER ============-->
		{% include "partials/layout/footer.html" %}
		<!--========== END FOOTER ============-->

		{% include "partials/foot.html" %}
	</body>
</html>