
.home {
    min-height: 600px;
    background: black;
    position: relative;
    .navbar {
        position: absolute;
        top: 65px;
        left: 0;
        right: 0;
        width: 100%;
        height: 65px;
        background: transparent;
        z-index: 1000000;
        &:before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            width: 100%;
            height: 65px;
            background-color: $primary-color;
            opacity: 0.6;
            z-index: -1;
        }
        .navbar-brand {
            color: $brand-color;
        }
        .navbar-collapse {
            
                background-color: $primary-color;
                margin-left: -14px;
                padding-left: 20px;

                @include breakpoint-up('lg') {
                    background-color: transparent;
                    margin-left: 0;
                    padding-left: 0;
                }
            
        }

        .navbar-nav {
            margin-right: 90px;
            .nav-item {
                .nav-link {
                    color: $nav-link-text-color;
                    font-size: 12px;
                    text-transform: uppercase;
                    
                    &:hover, &:focus, &.active, &:active  {
                        color: $nav-link-text-hover-color;
                        outline:0;
                    }
                }
                &.active {
                    .nav-link {
                        color: $nav-link-text-hover-color;
                    }
                }
            }
        }   
        .btn-contact {
            font-size: 35px;
            border-radius: 0;
            height: 100%;
            position: absolute;
            right: 25px;
            width: 60px;

            @include breakpoint-down('lg') {
                display: none;
            }
        }
        &.header-menu-fixed {
            position: fixed;
            top: 0;
            background-color: $primary-color;
        }     
    }
    .home-content {
        color: #fff;
        .welcome-msg {
            position: absolute;
            bottom: 316px;
            padding: 0 10px;
            left: 50%;
            margin-left: -168px;
            text-align: center;
            
            h2 {
                font-size: 1.5rem;
            }

            @media(min-width: 424px) {
                margin-left: -232px;
            }

            @include breakpoint-up('md') {
                bottom: 30px;
                margin-left: 10px;
                padding-right: 0;
                left: 0;
                margin-left: 0;
                text-align: initial;
            }

            @include breakpoint-up('lg') {
                h2 {
                    font-size: 2rem;
                }
            }
        }
        .register-container {
            width: 265px;
            position: absolute;
            bottom: -54px;
            right: 50%;
            margin-right: -133px;
            z-index: 10000;
            
            @include breakpoint-up('md') {
                right: 32px;
                margin-right: 0;
            }
            .register-header {
                height: 145px;
                padding: 20px;
                background-color: $accent-color;
                transition: linear 0.3s all;
                h3 {
                    margin-bottom: 0;
                }
            }
            .register-body {
                background-color: $primary-color;
                padding: 20px;
            }
            &:hover {
                .register-header {
                    transform: scale(1.04) translateY(-4px);
                }
            }
        }
    }
    &:before {
        content: '';
        background-image: url(/assets/img/school-1.jpg);
        background-attachment: fixed;
        background-size: cover;
        position: absolute;
        width: 100%;
        height: 600px;
        top: 0;
        left: 0;
        right: 0;
        opacity: 0.5;
    }
}