<footer class="footer">
    <div class="subscribe py-5" id="contact-us" data-scroll-index="3">
        <div class="container px-4">
            <div class="row">
                <div class="col-md-6 p-1">
                    <h5 class="ft-bold text-uppercase">Subscribe Today</h5>
                    <small>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam quis leo nulla.</small>

                </div>
                <div class="col-md-6 text-center p-1">
                    <div class="subscribe-form">
                        <form class="form" method="POST">
                            <div class="form-group">
                                <input type="email" class="form-control" id="email-subscribe" placeholder="Your Email Address" />
                                <button type="submit" id="subscribe-submit" class="btn btn-outline-primary">
                                    Subscribe
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-container py-5">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-12 col-md-3 py-3">
                    <h5><strong>Get in Touch</strong></h5>
                    <small>We always here to help you.</small>
                </div>
                <div class="col-6 col-sm-4 col-md-3 d-flex align-items-center justify-content-center">
                    <div class="contact-form-item d-flex p-2">
                        <i class="fa fa-map-marker" aria-hidden="true"></i>
                        <div class="d-flex flex-column justify-content-center pl-2">
                            <span class="ft-medium">Get Appointment</span>
                            <small>8:00 AM - 5:00 PM</small>
                        </div>
                    </div>
                </div>
                <div class="col-6 col-sm-4 col-md-3 d-flex align-items-center justify-content-center">
                    <div class="contact-form-item d-flex p-2">
                        <i class="fa fa-phone" aria-hidden="true"></i>
                        <div class="d-flex flex-column justify-content-center pl-2">
                            <span class="ft-medium">Contact Us</span>
                            <small>(021) 99845-2512</small>
                        </div>
                    </div>
                </div>
                <div class="col-6 col-sm-4 col-md-3 d-flex align-items-center justify-content-center">
                    <div class="contact-form-item d-flex p-2">
                        <i class="fa fa-bandcamp" aria-hidden="true"></i>
                        <div class="d-flex flex-column justify-content-center pl-2">
                            <span class="ft-medium">Take a School Tour</span>
                            <small>8:00 AM - 5:00 PM</small>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row footer-links pt-5">
                <div class="col-xs-6 col-sm-6 col-md-3 d-flex flex-column">
                    <h5><strong>School Hub</strong></h5>
                    <small class="py-3">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</small>
                    <small><strong>Phone</strong>: (21) 98456-5878</small>
                    <small><strong>Email</strong>: schoolhub@school.edu.br</small>
                    <small><strong>Address</strong>: R. Pio Dutra - 154 - RJ</small>

                    <div class="social-btns d-flex pt-4 pb-2">
                        <a href="#" class="btn btn-social mr-1">
                            <i class="fa fa-facebook" aria-hidden="true"></i>
                        </a>
                        <a href="#" class="btn btn-social mx-1">
                            <i class="fa fa-linkedin" aria-hidden="true"></i>
                        </a>
                        <a href="#" class="btn btn-social mx-1">
                            <i class="fa fa-google-plus" aria-hidden="true"></i>
                        </a>
                        <a href="#" class="btn btn-social mx-1">
                            <i class="fa fa-twitter" aria-hidden="true"></i>
                        </a>
                    </div>
                </div>
                <div class="col-xs-6 col-sm-6 col-md-3">
                    <h5 class="mb-3">Short Links</h5>
                    <ul>
                        <div class="row">
                            <div class="col-6">
                                <li>
                                    <a href="#home">Home</a>
                                </li>
                                <li>
                                    <a href="#features">Features</a>
                                </li>
                                <li>
                                    <a href="#screenshots">Screenshots</a>
                                </li>
                                <li>
                                    <a href="#testimonials">Testimonials</a>
                                </li>
                                <li>
                                    <a href="#contact">Contact</a>
                                </li>
                            </div>
                            <div class="col-6">
                                <li>
                                    <a href="#help-desk">Help Desk</a>
                                </li>
                                <li>
                                    <a href="#contact">Contact</a>
                                </li>
                                <li>
                                    <a href="#user-reviews">User Reviews</a>
                                </li>
                                <li>
                                    <a href="#client-area">Client Area</a>
                                </li>
                                <li>
                                    <a href="#about-us">About Us</a>
                                </li>
                            </div>
                        </div>
                    </ul>
                </div>
                <div class="col-xs-6 col-sm-6 col-md-3">
                    <h5 class="mb-3">Short Links</h5>
                    <ul>
                        <li>
                            <a href="#">Part Time programmes</a>
                        </li>
                        <li>
                            <a href="#">Full-time programmes</a>
                        </li>
                        <li>
                            <a href="#">Summer programmers</a>
                        </li>
                        <li>
                            <a href="#">Special Languages</a>
                        </li>
                        <li>
                            <a href="#">Deep Level Programmes</a>
                        </li>
                    </ul>
                </div>
                <div class="col-xs-6 col-sm-6 col-md-3">
                    <h5 class="mb-3">Recent Courses</h5>
                    <ul>
                        <li class="d-flex">
                            <div class="courses-img mr-2">
                                <img src="/assets/img/school-2.jpg" />
                            </div>
                            <small><a href="#">Java Developer 1</a></small>
                        </li>
                        <li class="d-flex">
                            <div class="courses-img mr-2">
                                <img src="/assets/img/school-2.jpg" />
                            </div>
                            <small><a href="#">Java Developer 2</a></small>
                        </li>
                        <li class="d-flex">
                            <div class="courses-img mr-2">
                                <img src="/assets/img/school-2.jpg" />
                            </div>
                            <small><a href="#">Web Design 3</a></small>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-credits">
        <small>© 2018 School Hub</small>
    </div>
</footer>