<footer class="footer">
    <div class="subscribe py-5">
        <div class="container">
            <div class="row">
                <div class="col-md-6 p-1">
                    <h5 class="ft-bold text-uppercase">Subscribe Today</h5>
                    <small>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam quis leo nulla.</small>

                </div>
                <div class="col-md-6 text-center p-1">
                    <div class="subscribe-form">
                        <form class="form" method="POST">
                            <div class="form-group">
                                <input type="email" class="form-control" id="email-subscribe" placeholder="Your Email Address" />
                                <button type="submit" id="subscribe-submit" class="btn btn-outline-primary">
                                    Subscribe
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>