<header class="header">
    <div class="header-menu container-fluid">
        <nav class="navbar navbar-top-fixed navbar-light">
            <a href="#">Have any question ?</a>

            <div class="social-btns d-flex justify-content-center align-items-center">
                <a href="#" class="search">
                    <i class="fa fa-search" aria-hidden="true"></i>
                </a>

                <a href="#" class="btn btn-social mx-1">
                    <i class="fa fa-facebook" aria-hidden="true"></i>
                </a>
                <a href="#" class="btn btn-social mx-1">
                    <i class="fa fa-linkedin" aria-hidden="true"></i>
                </a>
                <a href="#" class="btn btn-social mx-1">
                    <i class="fa fa-github" aria-hidden="true"></i>
                </a>
                <a href="#" class="btn btn-social mx-1">
                    <i class="fa fa-bitbucket" aria-hidden="true"></i>
                </a>
                <a href="#" class="btn btn-social mx-1">
                    <i class="fa fa-google-plus" aria-hidden="true"></i>
                </a>
                <a href="#" class="btn btn-social mx-1">
                    <i class="fa fa-twitter" aria-hidden="true"></i>
                </a>

                <a href="" class="link-inverse">
                    Login
                </a>
                <a href="" class="link-inverse">
                    Register
                </a>
            </div>

            
        </nav> 
    </div>
</header>