<div class="section about-us" id="about-us" data-scroll-index="1">
    <div class="container py-3">
        <div class="section-header text-center p-4">
            <h1>About Us</h1>
            <small>Home / About Us</small>
        </div>
        <div class="row">
            <div class="col-md-8">
                <h3 class="w-75 pb-3"><strong>Welcome to our School Hub Online Education</strong></h3>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam quis leo nulla. Phasellus finibus ultricies leo in tempor. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Praesent elementum nisi in eros pretium, vel cursus urna sodales. <br /><br />
                    Suspendisse tellus lectus, tincidunt vel laoreet id, aliquam ut magna. Etiam non orci tellus. Vestibulum maximus ante sed ligula sollicitudin, vitae eleifend nunc viverra. Phasellus fringilla suscipit pharetra. Cras mattis purus id mi vestibulum maximus.<br /><br />
                    Aenean volutpat orci lacus, vel sodales purus sagittis sed. Nulla interdum imperdiet ex quis egestas. In justo orci, varius eu viverra sit amet, rhoncus non nisl. Aliquam a magna non augue vestibulum cursus vel vel tortor. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Cras id justo ac lacus sagittis porta. Quisque viverra vulputate aliquam. <br /><br />
                    Quisque consectetur tellus feugiat, interdum mauris vitae, pretium odio. Ut id sapien urna. Quisque lobortis pulvinar justo. Integer pretium sagittis magna, sed fringilla justo cursus nec. Donec nec magna iaculis, mollis tortor at, tempus ipsum. Vivamus in auctor risus, nec pulvinar risus. Vestibulum ornare, justo tincidunt convallis semper, purus velit malesuada purus, quis laoreet nisi justo sit amet mauris. Proin vulputate nunc sapien, vitae efficitur libero vulputate ac. Nunc gravida augue a volutpat semper. Cras et imperdiet enim, quis condimentum leo. Quisque sit amet quam quis orci iaculis facilisis eu in ante. Vestibulum placerat eros et tortor laoreet pellentesque.
                </p>
            </div>
            <div class="col-md-4">
                <h3 class="pb-3"><strong>Upcoming Events</strong></h3>
                
                <div class="vertical-slide-container">
                    <div class="vertical-slide" id="vertical-slide">
                        <div class="upcoming-item container-fluid">
                            <div class="row">
                                <div class="col-md-3 day text-center">
                                    <h1>20</h1>
                                    <span>July</span>
                                </div>
                                <div class="col-md-9 details">
                                    <strong>Java Basic Course</strong>
                                    <div class="d-flex local my-2">
                                        <small class="pr-2"><i class="fa fa-calendar pr-1" aria-hidden="true"></i> 8:00</small>
                                        <small><i class="fa fa-map-marker pr-1" aria-hidden="true"></i> Rio de Janeiro, RJ</small>
                                    </div>
                                    <small>
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam quis leo nulla. 
                                    </small>
                                </div>
                            </div>
                        </div>
                        <div class="upcoming-item container-fluid">
                            <div class="row">
                                <div class="col-md-3 day text-center">
                                    <h1>20</h1>
                                    <span>July</span>
                                </div>
                                <div class="col-md-9 details">
                                    <strong>Java Basic Course</strong>
                                    <div class="d-flex local my-2">
                                        <small class="pr-2"><i class="fa fa-calendar pr-1" aria-hidden="true"></i> 8:00</small>
                                        <small><i class="fa fa-map-marker pr-1" aria-hidden="true"></i> Rio de Janeiro, RJ</small>
                                    </div>
                                    <small>
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam quis leo nulla. 
                                    </small>
                                </div>
                            </div>
                        </div>
                        <div class="upcoming-item container-fluid">
                            <div class="row">
                                <div class="col-md-3 day text-center">
                                    <h1>20</h1>
                                    <span>July</span>
                                </div>
                                <div class="col-md-9 details">
                                    <strong>Java Basic Course</strong>
                                    <div class="d-flex local my-2">
                                        <small class="pr-2"><i class="fa fa-calendar pr-1" aria-hidden="true"></i> 8:00</small>
                                        <small><i class="fa fa-map-marker pr-1" aria-hidden="true"></i> Rio de Janeiro, RJ</small>
                                    </div>
                                    <small>
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam quis leo nulla. 
                                    </small>
                                </div>
                            </div>
                        </div>
                        <div class="upcoming-item container-fluid">
                            <div class="row">
                                <div class="col-md-3 day text-center">
                                    <h1>20</h1>
                                    <span>July</span>
                                </div>
                                <div class="col-md-9 details">
                                    <strong>Java Basic Course</strong>
                                    <div class="d-flex local my-2">
                                        <small class="pr-2"><i class="fa fa-calendar pr-1" aria-hidden="true"></i> 8:00</small>
                                        <small><i class="fa fa-map-marker pr-1" aria-hidden="true"></i> Rio de Janeiro, RJ</small>
                                    </div>
                                    <small>
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam quis leo nulla. 
                                    </small>
                                </div>
                            </div>
                        </div>
                        <div class="upcoming-item container-fluid">
                            <div class="row">
                                <div class="col-md-3 day text-center">
                                    <h1>20</h1>
                                    <span>July</span>
                                </div>
                                <div class="col-md-9 details">
                                    <strong>Java Basic Course</strong>
                                    <div class="d-flex local my-2">
                                        <small class="pr-2"><i class="fa fa-calendar pr-1" aria-hidden="true"></i> 8:00</small>
                                        <small><i class="fa fa-map-marker pr-1" aria-hidden="true"></i> Rio de Janeiro, RJ</small>
                                    </div>
                                    <small>
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam quis leo nulla. 
                                    </small>
                                </div>
                            </div>
                        </div>
                        <div class="upcoming-item container-fluid">
                            <div class="row">
                                <div class="col-md-3 day text-center">
                                    <h1>20</h1>
                                    <span>July</span>
                                </div>
                                <div class="col-md-9 details">
                                    <strong>Java Basic Course</strong>
                                    <div class="d-flex local my-2">
                                        <small class="pr-2"><i class="fa fa-calendar pr-1" aria-hidden="true"></i> 8:00</small>
                                        <small><i class="fa fa-map-marker pr-1" aria-hidden="true"></i> Rio de Janeiro, RJ</small>
                                    </div>
                                    <small>
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam quis leo nulla. 
                                    </small>
                                </div>
                            </div>
                        </div>
                        <div class="upcoming-item container-fluid">
                            <div class="row">
                                <div class="col-md-3 day text-center">
                                    <h1>20</h1>
                                    <span>July</span>
                                </div>
                                <div class="col-md-9 details">
                                    <strong>Java Basic Course</strong>
                                    <div class="d-flex local my-2">
                                        <small class="pr-2"><i class="fa fa-calendar pr-1" aria-hidden="true"></i> 8:00</small>
                                        <small><i class="fa fa-map-marker pr-1" aria-hidden="true"></i> Rio de Janeiro, RJ</small>
                                    </div>
                                    <small>
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam quis leo nulla. 
                                    </small>
                                </div>
                            </div>
                        </div>
                    </div>
                    <button type="button" class="btn btn-primary top-arrow" id="top-arrow">
                        <i class="fa fa-chevron-up" aria-hidden="true"></i>
                    </button>
                    <button type="button" class="btn btn-primary bottom-arrow" id="bottom-arrow">
                        <i class="fa fa-chevron-down" aria-hidden="true"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="about-us-statistics text-center p-3">
        <h1>Our Statistics</h1>
        <small>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam quis leo nulla. Phasellus finibus ultricies leo in tempor. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. 
        </small>
        <div class="d-flex justify-content-center flex-wrap pt-4 statistics">
            <div class="p-4 d-flex">
                <i class="fa fa-users pr-2" aria-hidden="true"></i> 
                <div class="p-1">
                    <h2 class="ft-bold"><span class="counter" number="1000">1000</span>+ K</h2>
                    <span>Students Entolled</span>
                </div>
            </div>
            <div class="p-4 d-flex">
                <i class="fa fa-graduation-cap pr-2" aria-hidden="true"></i> 
                <div class="p-1">
                    <h2 class="ft-bold"><span class="counter" number="200">200</span>+</h2>
                    <span>Teachers</span>
                </div>
            </div>
            <div class="p-4 d-flex">
                <i class="fa fa-book pr-2" aria-hidden="true"></i> 
                <div class="p-1">
                    <h2 class="ft-bold"><span class="counter" number="750">750</span>+ K</h2>
                    <span>Courses Available</span>
                </div>
            </div>
        </div>
    </div>

    <div class="about-us-testimonials container py-5">
        <h2 class="pl-3">Testimonials</h2>
        <div class="testimonials-slide-container">
            <div class="testimonials-slide" id="slide-horizontal" slides-to-show="2">
                <div class="testimonials-item px-3 py-5 text-left">
                    <p>
                        "<i>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam quis leo nulla. Phasellus finibus ultricies leo in tempor. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.</i>"
                    </p>
                    <div class="d-flex align-items-center mt-5">
                        <div class="perfil-img mr-2">
                            <img src="/assets/img/man-1.jpg" />
                        </div>
                        <small><strong>Tiago H Silva</strong> - <span class="ft-secondary">CEO Microsoft</span></small>
                    </div>
                </div>
                <div class="testimonials-item px-3 py-5 text-left">
                    <p>
                        "<i>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam quis leo nulla. Phasellus finibus ultricies leo in tempor. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.</i>"
                    </p>
                    <div class="d-flex align-items-center mt-5">
                        <div class="perfil-img mr-2">
                            <img src="/assets/img/man-1.jpg" />
                        </div>
                        <small><strong>Tiago H Silva</strong> - <span class="ft-secondary">CEO Microsoft</span></small>
                    </div>
                </div>
                <div class="testimonials-item px-3 py-5 text-left">
                    <p>
                        "<i>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam quis leo nulla. Phasellus finibus ultricies leo in tempor. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.</i>"
                    </p>
                    <div class="d-flex align-items-center mt-5">
                        <div class="perfil-img mr-2">
                            <img src="/assets/img/man-1.jpg" />
                        </div>
                        <small><strong>Tiago H Silva</strong> - <span class="ft-secondary">CEO Microsoft</span></small>
                    </div>
                </div>
                <div class="testimonials-item px-3 py-5 text-left">
                    <p>
                        "<i>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam quis leo nulla. Phasellus finibus ultricies leo in tempor. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.</i>"
                    </p>
                    <div class="d-flex align-items-center mt-5">
                        <div class="perfil-img mr-2">
                            <img src="/assets/img/man-1.jpg" />
                        </div>
                        <small><strong>Tiago H Silva</strong> - <span class="ft-secondary">CEO Microsoft</span></small>
                    </div>
                </div>
                <div class="testimonials-item px-3 py-5 text-left">
                    <p>
                        "<i>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam quis leo nulla. Phasellus finibus ultricies leo in tempor. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.</i>"
                    </p>
                    <div class="d-flex align-items-center mt-5">
                        <div class="perfil-img mr-2">
                            <img src="/assets/img/man-1.jpg" />
                        </div>
                        <small><strong>Tiago H Silva</strong> - <span class="ft-secondary">CEO Microsoft</span></small>
                    </div>
                </div>
                <div class="testimonials-item px-3 py-5 text-left">
                    <p>
                        "<i>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam quis leo nulla. Phasellus finibus ultricies leo in tempor. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.</i>"
                    </p>
                    <div class="d-flex align-items-center mt-5">
                        <div class="perfil-img mr-2">
                            <img src="/assets/img/man-1.jpg" />
                        </div>
                        <small><strong>Tiago H Silva</strong> - <span class="ft-secondary">CEO Microsoft</span></small>
                    </div>
                </div>
            </div>
            <button type="button" class="btn btn-primary prev-arrow" id="prev-arrow">
                <i class="fa fa-chevron-circle-left" aria-hidden="true"></i>
            </button>
            <button type="button" class="btn btn-primary next-arrow" id="next-arrow">
                <i class="fa fa-chevron-circle-right" aria-hidden="true"></i>
            </button>
        </div>
        
    </div>
</div>