<section class="section home" id="home" data-scroll-index="0">
    <div class="container-fluid">
        <nav class="navbar navbar-expand-lg navbar-light" id="header-menu">
            <a class="navbar-brand ft-bold" href="#">School Hub</a>
            <button class="navbar-toggler" name="navbarButton" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <i class="fa fa-bars" aria-hidden="true"></i>
            </button>
            
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto" id="navbar-menu">
                    <li class="nav-item" data-scroll-nav="0">
                        <a class="nav-link" href="#home">Home</a>
                    </li>
                    <li class="nav-item" data-scroll-nav="1">
                        <a class="nav-link" href="#about-us">About Us</a>
                    </li>
                    <li class="nav-item" data-scroll-nav="2">
                        <a class="nav-link" href="#courses">Courses</a>
                    </li>
                    <li class="nav-item" data-scroll-nav="3">
                        <a class="nav-link" href="#contact-us">Contact Us</a>
                    </li>
                </ul>

                <button type="button" class="btn btn-primary btn-contact w-10 ml-3" data-scroll-nav="3">
                    <i class="fa fa-phone" aria-hidden="true"></i>
                </button>
            </div>
        </nav> 

        <div class="home-content d-flex">
            
            <div class="welcome-msg animate-plus"  data-animations="fadeInLeft">
                <h2 class="ft-bold">We are the Best for Online Education</h2>
                <button class="btn btn-primary">Enquire Now</button>
            </div>
            <div class="register-container animate-plus" data-animations="fadeInUp">
                <div class="register-header d-flex flex-column justify-content-center align-items-center">
                    <h5 class="ft-bold">Register now</h5>
                    <div class="d-flex align-items-center justify-content-center">
                        <div class="d-flex flex-column align-items-center p-2">
                            <h3>10</h3>
                            <span>Hours</span>
                        </div>
                        <div class="d-flex flex-column align-items-center p-2">
                            <h3>05</h3>
                            <span>Minutes</span>
                        </div>
                        <div class="d-flex flex-column align-items-center p-2">
                            <h3>30</h3>
                            <span>Seconds</span>
                        </div>
                    </div>
                </div>
                <div class="register-body">
                    <form class="form" method="POST" id="register-form">
                        <div class="form-group">
                            <input type="text" class="form-control" name="name" id="name" placeholder="Your name..." />
                        </div>
                        <div class="form-group">
                            <input type="email" class="form-control" name="email" id="email" placeholder="Your email..." />
                        </div>
                        <div class="form-group text-center">
                            <button class="btn btn-primary" type="submit">Get a Quota</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>