
.navbar {
    &.navbar-top-fixed {
        padding: 20px 0;
        a {
            font-size: 12px;
        }

        .social-btns {
            .search {
                color: $text-secondary-color;
                font-size: 14px;
                margin-right: 20px; 
            }
        }
        
        .link-inverse {
            padding-left: 20px;
            padding-right: 10px;
            color: $text-secondary-color;
        }
    }
}